<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="row">
    <div class="col-md-3" style="margin-top:100px">
        <img src="~/images/3.jpg" />
    </div>


    <div class="col-md-6" style="margin-top:50px">
        <h1>About Us</h1>

        <p>
            It will be website with interactive user interface. User will have to login in order to place his/her order.
            And as he logout he will be presented with a receipt. On the admin side, admin will manage the database.
            He will add, update and delete different products from the database according to need. He will also manage
            user order and receipt through database.
        </p>
    </div>
    <div class="col-md-3" style="margin-top:100px">
        <img src="~/images/7.jpg" />

    </div>

</div>