<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class=" row">

    <div class="col-md-2" style="margin-top:150px"></div>
    <div class="col-md-10" style="margin-top:100px">

        <hgroup class="title">
            <h1>Contact.</h1>
        </hgroup>

        <section class="contact">
            <header>
                <h3>Phone:</h3>
            </header>
            <p>
                <span class="label">Main:</span>
                <span>425.555.0100</span>
            </p>
            <p>
                <span class="label">Main:</span>
                <span>425.555.0199</span>
            </p>
        </section>

        <section class="contact">
            <header>
                <h3>Email:</h3>
            </header>
            <p>
                <span class="label">Support:</span>
                <span><a href="bitf12a036@pucit.edu.pk">bitf12a036@pucit.edu.pk</a></span>
            </p>
            <p>
                <span class="label">Marketing:</span>
                <span><a href="https://www.facebook.com/iqraarif.543">Iqra Arif</a></span>
            </p>
            <p>
                <span class="label">General:</span>
                <span><a href="mailto:General@example.com">General@example.com</a></span>
            </p>
        </section>

        <section class="contact">
            <header>
                <h3>Address:</h3>
            </header>
            <p>
                One Microsoft Way<br />
                Redmond, WA 98052-6399
            </p>
        </section>
    </div>



</div>
