@model Deliverable_2.Models.User
@{
    ViewBag.Title = "checkout";
    Layout = "~/Views/Shared/_Layoutdish2.cshtml";
}

<h1><strong>Checkout</strong></h1>
<div>
    <h5><strong>BILLING INFORMATION</strong></h5>
    <div class="content_half float_l checkout">
        Full Name:  <br />
        @ViewBag.X.username
        <br />
        <br />
        Address: <br />
        @ViewBag.X.Address
        <br />
        <br />
       
    </div>

    <div class="content_half float_r checkout">
        E-MAIL <br />
        @ViewBag.X.email
        <br />
        <br />
       
    </div>

    <div class="cleaner h50"></div>
    <h3>SHOPPING CART</h3>
    <h4>TOTAL AMOUNT: <strong>@ViewBag.X.checkoutamount</strong></h4>
    <p style="margin-right:400px"><a href="/Cart/viewcustomerorders">View All Orders</a></p>
</div> 